

header {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem; 
 min-height: 500px;
 background-image: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)), url('./Public/assets/primate-ape-thinking-mimic.jpg');
 background-position: center ;
 background-repeat: no-repeat;
 background-size: cover;
 opacity: .5;

}
nav {
    height: 100px;
    color: white;
}
.container {
    display: grid;
}
img {
  display: block;
  width: 100%;
  height: auto;
  transition: all 1s ease;

}
ul {
    display: grid;
   display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 25px;
}
li {
 list-style: none;
}

footer {
    height: 200px;

}

.content, .overlay {
    display: grid 1/1;
    transition: all 2s ease;
    
}
.overlay:hover {
    background: black;
    color: white;
}
.content:hover {
    background: black;
    color: white;
}
img:hover{
    opacity: .2;
}