


header {
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem; 
 min-height: 500px;
 background-image: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)), url('../assets/primate-ape-thinking-mimic.jpg');
 background-position: center ;
 background-repeat: no-repeat;
 background-size: cover;
 opacity: .5;
}
.title {
    font-size: 4rem;
    color: goldenrod;
}
a {
 display: flex;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 1rem;
    color: goldenrod;
    justify-content: flex-end;
    font-style: italic;
    text-transform: capitalize;
}