.monkey-form {
    height: 100%;
    max-width: 700px;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid white;
    text-align: center;
}
label {
    padding: 30px;
}
input {
    width: 240px;
    padding: 10px;
    margin: 20px;
}
